a:link {
    color: aquamarine;
    text-decoration: overline;
    text-align: center;
}


main {

    color: antiquewhite;
    background-color: black;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

body {
    background-image: ;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 50px;
}

header* {display: inline;}