a:link {
    color: aquamarine;
    text-decoration: overline;
 
}


header {
    background-color: white;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    height: 80px;
}

body {
    background-image: ;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 20px;
}

header * {display: inline;}

header li {
    margin: 5px;
}

img { 
    height: 300px;
}

.imgdrawing {
    height: 700px;
    align-items: center;
}